<div class="container">
    <ion-slides pager [initialSlide]="0">
        <ion-slide>
            <div class="image-box">
                <img class="logo" src="assets/image/landing-logo.png" alt="">
            </div>
            <div class="text">
                <div class="title">
                    您的智能个人投资服务
                </div>
                <div class="divider"></div>
                <div class="desc">
                    弥财为您进行智能分散投资、资产优化调整、自动调整，助您长期投资！
                </div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="image-box">
                <img src="assets/image/landing-image-2.svg" alt="">
            </div>
            <div class="text">
                <div class="title">
                    专业优化调整
                </div>
                <div class="divider"></div>
                <div class="desc">
                    弥财每天评估您的资产状况，当资产比例因价格波动不平衡时提醒您调仓，助您积累更多收益
                </div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="image-box">
                <img src="assets/image/landing-image-3.png" alt="">
            </div>
            <div class="text text-3">
                <div class="title">
                    长期投资，低费用高收益
                </div>
                <div class="divider"></div>
                <div class="desc">
                    弥财选择低费率的设计投资方案，保障您长期投资的收益不被费用吃掉
                </div>
            </div>
            <div class="button-bar">
                <button class="button" (click)="login()">登录弥财</button>
                <button class="button" (click)="signup()">立即注册</button>
            </div>
        </ion-slide>
    </ion-slides>

</div>