<ion-header>
    <ion-navbar>
        <ion-title>
            产品明细
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list class="detail-list">
        <div *ngFor="let target of detailData">
            <div class="category ra-large-font ra-gray" (click)="onTargetClick(target.code)">
                <span class="sign target-sign {{target.code}}">&nbsp;</span> {{target.code | transAsset}}
                <span class="icon ion-ios-arrow-up" *ngIf="collapseEnabled" [hidden]="targetsCollapsed[target.code]"></span>
                <span class="icon ion-ios-arrow-down" *ngIf="collapseEnabled" [hidden]="!targetsCollapsed[target.code]"></span>
            </div>
            <ion-item *ngFor="let product of target.products" ion-item detail-none [hidden]="targetsCollapsed[target.code]">
                <span class="placeholder">&nbsp;</span>
                <span class="name">{{product.product_name}}</span>
                <span class="percent">{{product.percentage | raPercent}}</span>
            </ion-item>
        </div>
    </ion-list>
</ion-content>
<ion-footer>
    <button ion-button full (click)="purchase()">立即购买</button>
</ion-footer>