radar-info-page {
    color: #9B9B9B;
    font-size: 12px;
    .title-bar {
        background: #1A1C20;
    }
    .intro {
        p {
            margin-top: 7px;
            margin-bottom: 3px;
        }
    }
}