<ion-header>
    <ion-navbar>
        <ion-title>
            资产组合规则
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="title-bar" padding>
        资产组合规则说明
    </div>
    <div padding>
        <p>如图：</p>
        <div class="text-center">
            <img src="assets/image/radar-model.svg?v2" alt="">
        </div>
    </div>
    <div class="title-bar" padding>
        维度说明
    </div>
    <div class="intro" padding>
        <p>
            收益能力 Earning capacity
        </p>
        <div>
            某个资产的过往表现。分析师在预计某类资产的未来收益或者估计资产在某类情景下的表现时，会回顾该类资产的历史收益。针对投资组合计算历史收益率时，分别计算每类资产的历史收益率，然后根据每类资产权重加权得到组合的历史收益率。比如某投资组合含35%的股票和65%的债券，股票历史收益率为8%，债券历史收益率为10%，则该投资组合的历史收益率=35%*8%+65%*10%=9.3%
        </div>
        <p>
            稳定性 Stability
        </p>
        <div>
            稳定性通常用投资组合的波动率来反应。波动率是金融资产价格的波动程度，是对投资组合收益不确定性的衡量，用于反应投资组合的风险水平。波动率越高，投资组合价格波动越剧烈，收益率不确定性就越强，投资组合的稳定性就越低；波动率越低，投资组合价格波动越平缓，收益率的确定性就越强，投资组合的稳定性就越高。
        </div>
        <p>
            抗跌能力 Resilience
        </p>
        <div>
            抗跌能力是指在金融市场整体行情不好的情况下，或者其他金融资产都有明显下跌的情况下，该投资组合下跌不明显或者下跌趋势弱。有效的投资组合应当在普涨行情下具有较强的净值上涨动力，同时在普跌的行情中具有较强的抗跌能力。
        </div>
        <p>
            分散性 Diversification
        </p>
        <div>
            分散性是指投资组合同时投资在不同的资产类型或不同的证券上以降低投资风险的能力。投资分散性高的好处在于可以在不降低收益的同时显著降低风险，可以改善风险—收益比率。在实际操作中，通常针对对象、时机、地域和期限四个维度进行分散。
        </div>
        <p>
            流动性 Liquidity
        </p>
        <div>
            流动性一般分为两种：一种是融资流动性，即随时以合理的价格筹集到足够的资金履行自己的义务同时满足资金需求；一种是市场流动性，即受市场深度或者市场动荡影响，能够以合理的市场价格出售资产以获得资金。流动性的度量指标一般分为市场紧度（Tightness）、市场深度（Depth）、弹性（Resiliency）和及时性（Immediacy）。
        </div>
    </div>
</ion-content>