<ion-header>
    <ion-navbar>
        <ion-title>
            优化规则
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="title-bar" padding>
        优化说明
    </div>
    <div class="intro" padding>
        <p>
            原理：
        </p>
        <p>
            投资组合优化基于夏普比率（Sharpe Ratio）最优的思想。现代投资理论的研究表明,风险的大小在决定组合的表现上具有基础性的作用。风险调整后的收益率就是一个可以同时对收益与风险加以考虑的综合指标,以期能够排除风险因素对绩效评估的不利响。夏普比率就是一个可以同时对收益与风险加以综合考虑的三大经典指标之一。夏普比率的计算方法为：
        </p>
        <p>S = (R – r) / σ</p>
        <p>其中：</p>
        <p>S=夏普比率</p>
        <p>R = 投资的回报期望值（平均回报率）</p>
        <p>r = 无风险投资的回报率（可理解为投资国债的回报率）</p>
        <p>σ = 回报率的标准方差（衡量波动性的最常用统计指标）</p>
        <p>夏普比率S越高，投资组合的质量越高 </p>
    </div>
</ion-content>